table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

ol {
  margin-top: 20px;
  list-style-type: decimal;
  text-align: left;
}

li {
  margin-bottom: 10px;
}

video,
audio {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
